<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center card-header-background">
                        <div>
                            <h4 class="card-title">Expense Table</h4>
                            <p class="card-category">Here is the expense you spent for the</p>
                        </div>
                        <button class="btn btn-success" (click)="openCreateModal()">Create New Expense</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Name</th>
                                <th>Description</th>
                                <th class="date-middle">Expense Date</th>
                                <th class="date-middle">Price</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let expense of expenses">
                                    <td>{{ expense.name }}</td>
                                    <td>{{ expense.description }}</td>
                                    <td class="date-middle">{{ expense.expenseDate | date: 'dd.MM.yyyy' }}</td>
                                    <td class="date-middle">{{ expense.price }} PLN</td>
                                    <td class="text-middle">
                                        <button class="btn custom-button btn-sm" (click)="openEditModal(expense)">Edit</button>
                                        <button class="btn btn-danger btn-sm" (click)="deleteExpense(expense.id)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            <button class="btn btn-dark-blue btn-sm" (click)="onPageChange(page - 1)" [disabled]="page === 1">Previous</button>
                            <button class="btn btn-dark-blue btn-sm" *ngFor="let p of pages" (click)="onPageChange(p)" [class.active]="p === page">{{ p }}</button>
                            <button class="btn btn-dark-blue btn-sm" (click)="onPageChange(page + 1)" [disabled]="page * size >= totalCount">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
