<h1 mat-dialog-title>{{ data.id ? 'Edit Task' : 'Create New Task' }}</h1>
<div mat-dialog-content>
    <form [formGroup]="editForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required>
            <mat-error *ngIf="editForm.controls['description'].hasError('required')">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
                <mat-option value="MARKETING">Marketing</mat-option>
                <mat-option value="INVENTORY_MANAGEMENT">Inventory Management</mat-option>
                <mat-option value="CUSTOMER_ENGAGEMENT">Customer Engagement</mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.controls['category'].hasError('required')">Category is required</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onEdit()" [disabled]="!editForm.valid">Confirm</button>
</div>
